:root {
    --primary-color: #ff5361;
    /* Change this to your primary color */
    --bg-color: #fff;
    --text-color: #333;
    --hover-bg-color: rgba(255, 83, 97, 0.1);
    --card-bg: linear-gradient(135deg, #f8f7f3, #ffbe7a);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.logo a:hover {
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.nav-item {
    position: relative;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 0;
    transition: color 0.3s;

}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item:hover::after {
    transform: scaleX(1);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background: var(--text-color);
    margin: 3px 0;
    transition: all 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* Adjust based on your navbar height */
        right: 0;
        background: var(--bg-color);
        width: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero-section {
    display: flex;
    align-items: center;
    margin-bottom: rem;
}

.image-wrapper {
    flex: 1;
}

.responsive-img {
    width: 100%;
    border-radius: 8px;
}

.text-wrapper {
    flex: 1;
    padding: 0 2rem;
}

.text-wrapper h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.text-wrapper p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.text-wrapper div {
    display: flex;
    justify-content: center;
}


/* From Uiverse.io by zjssun */
.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    scale: 1.10;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #ff5361;
    transition: all 0.2s ease;
}

.button:active {
    transform: scale(0.96);
}

.button:before,
.button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #ff5361 20%, transparent 30%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff5361 15%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff5361 15%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%),
        radial-gradient(circle, #ff5361 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.action-btn:hover {
    background-color: rgba(255, 83, 97, 0.8);
}

.cta-box {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    margin: 2rem 0;
}

.card-container {
    display: flex;
    gap: 1rem;
}

.info-card {
    background: var(--card-bg);
    min-width: 300px;
    min-height: 290px;
    border-radius: 8px;
    flex: 1;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    /* Make card items stack vertically */
}

.info-card:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 1rem;
    flex-grow: 1;
    /* Allow content to take available space */
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-description {
    font-size: 1rem;
    line-height: 1.4;
}

.card-footer {
    padding: 1rem;
    text-align: center;
}

.small-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.footer-section {
    text-align: center;
    padding: 2rem 0;
    background-color: #333;
    color: #fff;
}

@media (max-width:1000px) {
    .hero-section {
        flex-direction: column;
    }
    .text-wrapper {
        padding: 0;
    }
    .image-wrapper img{
        min-height: 250px;
    }
    .text-wrapper h1{
        text-align: center;
    }
}